@import url("https://fonts.googleapis.com/css2?family=MuseoModerno:wght@300;400;500&display=swap");

* {
    box-sizing: border-box;
    font-family: "MuseoModerno", sans-serif;
}

h1 {
    font-size: 32px;
}

li {
    font-size: 24px;
}